/**
 * Viewports : viewport
 */

@import "base";

#viewport-wrapper {
  border-radius: $gutter;
  position: absolute;
  
  [data-controls="1"] & {
    bottom: $gutter + $cursor-height;
    left: $gutter + $cursor-width;
    right: $gutter + $cursor-width;
    top: $gutter + $control-height;
  }
  
  [data-controls="0"] & {
    bottom: 0;
    left: $gutter + $control-height;
    right: 0;
    top: 0;
  }
}

#viewport {
  animation-duration: $duration * 3;
  animation-iteration-count: 1;
  animation-timing-function: $timing-function;
  background: #FFF;
  border: none;
  box-shadow: $box-shadow;
  left: 50%;
  height: 10px;
  margin: -5px 0 0 -5px;
  position: absolute;
  top: 50%;
  width: 10px;
  
  [data-hold="0"] & {
    transition-property: height, width, margin, transform;
  }
}

#chrome {
  background-repeat: no-repeat;
  background-position: center center;
  left: 50%;
  height: 2000px;
  margin: -1000px 0 0 -1000px;
  position: absolute;
  top: 50%;
  width: 2000px;
  
  [data-orientation="landscape"] & {
    transform: rotate(90deg);
  }
  
  [data-orientation="portrait"] & {
    transform: rotate(0deg);
  }
}
