/**
 * Viewports : z-index
 */

#sad-face {
  z-index: 80;
}

#mask {
  z-index: 70;
}

h1 {
  z-index: 60;
}

#url {
  z-index: 51;
}

.control, .cursor {
  z-index: 50;
}

#playground {
  z-index: 45;
}

#viewport {
  z-index: 40;
}

#chrome {
  z-index: 30;
}

#panel {
  z-index: 20;
}
